<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>3.2</string>
	<key>IOS_SDK_ID</key>
	<string>77</string>
	<key>MACOS_SDK_ID</key>
	<string>5819</string>
	<key>TVOS_SDK_ID</key>
	<string>5820</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5821</string>
</dict>
</plist>
