<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>3.3.8</string>
	<key>IOS_SDK_ID</key>
	<string>5877</string>
	<key>MACOS_SDK_ID</key>
	<string>5878</string>
	<key>TVOS_SDK_ID</key>
	<string>5879</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5880</string>
</dict>
</plist>
