<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>3.3.11</string>
	<key>IOS_SDK_ID</key>
	<string>5890</string>
	<key>MACOS_SDK_ID</key>
	<string>5891</string>
	<key>TVOS_SDK_ID</key>
	<string>5892</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5893</string>
</dict>
</plist>
