<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>3.1.4</string>
	<key>IOS_SDK_ID</key>
	<string>5813</string>
	<key>MACOS_SDK_ID</key>
	<string>5814</string>
	<key>TVOS_SDK_ID</key>
	<string>5815</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5816</string>
</dict>
</plist>
