<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>3.3.14004</string>
	<key>IOS_SDK_ID</key>
	<string>5933</string>
	<key>MACOS_SDK_ID</key>
	<string>5924</string>
	<key>TVOS_SDK_ID</key>
	<string>5925</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5926</string>
</dict>
</plist>
