<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>4.0.0003</string>
	<key>IOS_SDK_ID</key>
	<string>5945</string>
	<key>MACOS_SDK_ID</key>
	<string>5946</string>
	<key>TVOS_SDK_ID</key>
	<string>5940</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5941</string>
</dict>
</plist>
