<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>DAC214C55CBDB4B525C988B3F3927422B1FC8A83444BAC0ED41DD88E33FD26AD</string>
	<key>APP_VERSION_META</key>
	<dict>
		<key>AAID</key>
		<string>2140975168064</string>
		<key>APID</key>
		<string>2140975168266</string>
		<key>APPTICS_SDK_ID</key>
		<string>5393</string>
		<key>APP_RELEASE_VERSION_ID</key>
		<string>2140975168269</string>
		<key>APP_VERSION_ID</key>
		<string>2140975168381</string>
		<key>BUNDLE_SHORT_VERSION</key>
		<string>1.0</string>
		<key>BUNDLE_VERSION</key>
		<string>1</string>
		<key>MAPID</key>
		<string>2054327588047</string>
		<key>PLATFORM_ID</key>
		<string>4</string>
		<key>RSAKEY</key>
		<string>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoHNnWUhGbZbQXMy+3vznADpSY5E1EZQZl8udHQwgkoWqYZ8Px19N0muPDEjSQn4YlzXqN5ei+cVdoGd2VWw5E/GSErcrhMupe7I+SXVOZXDFm9/NqwgvC+W47MUW0qWlrHIn2WdUHrZpj3W3CP+jxtwuvONLpIhRYKN7T8JEBCTywu2SYHKkkbHITt6NElAv7NVLnk/XAVyTG5zlTaEzaF/NchJCDNSGnVFd6Iyy0IyKHD8+XTN+i4BuzJdlJmEi00vDWRIiBjL5v0p0ckpyKJwmJ2Nsewgw5zf3ixQW31dvmd0Pisyw3y1VIVT2nA3+0lwjn52BhtojyXejY+V3gwIDAQAB</string>
	</dict>
	<key>BUNDLE_ID</key>
	<string>com.zoho.apptics.AppticsDemoMacApp</string>
	<key>SERVER_URL</key>
	<string>https://apptics.zoho.com</string>
</dict>
</plist>
