<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>DAC214C55CBDB4B525C988B3F3927422B1FC8A83444BAC0ED41DD88E33FD26AD</string>
	<key>APP_VERSION_META</key>
	<dict>
		<key>AAID</key>
		<string></string>
		<key>APID</key>
		<string></string>
		<key>APPTICS_SDK_ID</key>
		<string>629</string>
		<key>APP_RELEASE_VERSION_ID</key>
		<string></string>
		<key>APP_VERSION_ID</key>
		<string></string>
		<key>BUNDLE_SHORT_VERSION</key>
		<string>1.2</string>
		<key>BUNDLE_VERSION</key>
		<string>1.1</string>
		<key>MAPID</key>
		<string></string>
		<key>PLATFORM_ID</key>
		<string></string>
		<key>RSAKEY</key>
		<string></string>
	</dict>
	<key>BUNDLE_ID</key>
	<string>com.apptics.emo.ios</string>
	<key>SERVER_URL</key>
	<string>https://apptics.zoho.com</string>
</dict>
</plist>
