<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>DAC214C55CBDB4B525C988B3F3927422B1FC8A83444BAC0ED41DD88E33FD26AD</string>
	<key>BUNDLE_ID</key>
	<string>com.apptics.demo.ios</string>
	<key>SERVER_URL</key>
	<string>https://appptics.zoho.com</string>
</dict>
</plist>
