<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppVersion</key>
	<string>2.2.4</string>
	<key>IOS_SDK_ID</key>
	<string>188</string>
	<key>MACOS_SDK_ID</key>
	<string>5767</string>
	<key>TVOS_SDK_ID</key>
	<string>5765</string>
	<key>WATCHOS_SDK_ID</key>
	<string>5766</string>
</dict>
</plist>
